<!-- add_to_cart.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'images/INVENT.LOGO.jpg' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add to Cart</title>
</head>
<body>

  <h2>Add to Cart</h2>

  <form method="post" action="{% url 'add_to_cart' barcode=product.barcode %}">
    {% csrf_token %}
    {{ form.cart_quantity.label_tag }} {{ form.cart_quantity }}
    <button type="submit">Add to Cart</button>
  </form>

</body>
</html>
