<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cart View</title>
</head>
<body>
<!-- cart_view.html -->
<h2>Your Cart</h2>
<ul>
    {% for cart_item in cart_items %}
        <li>{{ cart_item.product.name }} - Quantity: {{ cart_item.quantity }}</li>
    {% endfor %}
</ul>

<a href="{% url 'all_products' %}">Continue Shopping</a>
<a href="{% url 'checkout' %}">Proceed to Checkout</a>

</body>
</html>
