{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="icon" href="{% static 'images/INVENT.LOGO.jpg' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventory</title>
</head>
<body>
<nav class="navbar bg-success">
  <form class="container-fluid justify-content-start gap-4">
  <a class="navbar-brand" href="#" style="font-size: 40px;color: darksalmon">
    <img src="{% static 'images/INVENT.LOGO.jpg' %}" width="40" height="40" class="d-inline-block align-top" alt="">
    VENTORY
  </a>
    <a href="{% url 'all_products' %}" style="text-decoration: none;color: white;text-transform: uppercase">Home<i class="bi bi-house-door fs-5" style="color: darksalmon"></i></a>
    <a href="{% url 'add_product' %}" style="text-decoration: none;color: white;text-transform: uppercase">Add Product<i class="bi bi-file-plus-fill fs-5" style="color: darksalmon;"></i></a>
    <a href="{% url 'search_product_by_barcode' %}" style="text-decoration: none;color: white;text-transform: uppercase">search<i class="bi bi-search fs-5" style="color: darksalmon;"></i></a>
    <a href="{% url 'cart_view' %}" style="text-decoration: none;color: white;text-transform: uppercase">Your Cart<i class="bi bi-cart4 fs-4" style="color: darksalmon;"></i></a>
    <a href="{% url 'handlelogout' %}" class="ms-auto" style="text-decoration: none;color: white;text-transform: uppercase;">Logout<i class="bi bi-box-arrow-left fs-5" style="color: darksalmon;"></i></a>
  </form>
</nav>

<div>
  <p>Welcome to <a href="{% url 'all_products' %}" style="text-decoration: none"><i>VENTORY</i></a>, your go-to solution for seamless inventory management! Whether you're a small business owner, warehouse manager, or just someone passionate about organizing,
    <a href="{% url 'all_products' %}" style="text-decoration: none"><i>VENTORY</i></a> is here to make your stock-taking process a breeze. In this guide, we'll walk you through the essential steps to get started with <a href="{% url 'all_products' %}" style="text-decoration: none"><i>VENTORY</i></a>, from creating an account to mastering key features.</p>
</div>
<div>
  <h3>Creating Your VENTORY Account:</h3>
  <ol>
    <li>Navigate to the Signup Page: <br>Open your web browser and enter the VENTORY website address. Look for the <a
      href="{% url 'signup' %}"><button class="btn btn-outline-primary">Sign up</button></a> button  </li>
    <li>Fill in the Registration Form: <br>Click <a
      href="{% url 'signup' %}">here</a>, and you'll be directed to the registration page. Here, you'll need to provide some essential information, such as your desired username and a secure password. Make sure to choose a unique username that hasn't been taken by another user.</li>
  </ol>
  <br>
  <h3>Logging In to Your VENTORY Account:</h3>
  <ol>
    <li>Visit the Login Page: <br>After confirming your account, head to the VENTORY website and click on the <a
      href="{% url 'handlelogin' %}">Login</a> button.</li>
    <li>Enter Your Credentials: <br>On the login page, enter your username and password.</li>
    <li>Navigate Through the Dashboard: <br>Congratulations! You've successfully logged in. Explore the user-friendly dashboard to get acquainted with VENTORY's features. The dashboard typically provides quick access to essential functions like adding products, searching for items, and managing your cart.</li>
  </ol>
  <br>
  <h3>Using VENTORY's Key Features:</h3>
  <ol>
    <li>Adding a Product: <br>Click on the "Add Product" link or button.
Fill in the required details for your product, that is name, barcode, quantity.
Save the information, and your product will be added to the inventory.</li>
    <li>Searching for Products: <br>Use the "Search" functionality to find specific products by name or barcode.
The search results will display relevant information about matching products.</li>
    <li>Managing Your Cart: <br>Explore the "Your Cart" section to review and manage items you've added.
Adjust quantities or remove items as needed.</li>
    <li>Logging Out: <br>Always remember to log out when you're done using VENTORY, especially if you're on a shared computer.</li>
  </ol>
</div>

<footer class="bg-dark">
  <div class="container">
    <div class="row mt-2">
      <div class="col mt-2">
        <h4 style="color: darksalmon">EXTENSIONS</h4>
        <a href="{% url 'help' %}" style="text-decoration: none;color: wheat">Profile help</a><br>
        <a href="{% url 'privacy' %}" style="text-decoration: none;color: wheat">Privacy Info</a>
      </div>
      <div class="col mt-2">
        <a href="{% url 'all_products' %}" style="text-decoration: none"><span style="font-size: 35px;color: darksalmon;font-weight: bolder">VENTORY</span></a>
        <p style="color: wheat">We are located in Mombasa, Sabasaba, opposite Ola petrol station</p><br>
        <h5 style="color: wheat">Contact us:</h5>
        <p style="color: wheat">O792508071</p>
        <p style="color: wheat">chegee066@gmail.com</p>

      </div>
      <div class="col mt-2">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15919.511820072721!2d39.662393!3d-4.045316!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x184012b86f585ba3%3A0x344d247c34b352cb!2sSabasaba!5e0!3m2!1sen!2ske!4v1701029602980!5m2!1sen!2ske" width="500" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col mt-2">
        <h5 style="color: wheat">Follow us on our Social media platforms</h5>
        <div class="row">
          <P><a href='https://instagram.com/viperadiexcellent?igshid=YTQwZjQ0NmI0OA=='><i class="bi bi-instagram fs-4"></i></a></P>
          <p><a href="https://www.facebook.com/profile.php?id=61552515685298&mibextid=JRoKGi"><i class="bi bi-facebook fs-4"></i></a></p>
          <p><a href="https://www.threads.net/@viperadiexcellent"><img src="{% static 'images/images.png' %}" style="width: 25px"></a></p>
          <p><a href="https://x.com/ViperExcellent?t=KEEe1QFREKjARjEhJiatvg&s=09"><i class="bi bi-twitter fs-4"></i></a></p>
        </div>
      </div>

    </div>
    <div class="row mt-2" style="text-align: center">
      <p style="color: greenyellow">&copy; 2023 <span style="font-weight: bolder;font-size: 15px">VENTORY</span>. All Rights Reserved</p>
    </div>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
