<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Search project</title>
</head>
<body>

<h2>Search for a Product by Barcode</h2>
<form method="post" action="{% url 'search_product_by_barcode' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Search</button>
</form>

</body>
</html>
